/*

!/.gitignore
!/README.md

/colors/*
!/colors/
!/colors/bubblegum-256-dark.vim
!/colors/bubblegum-256-light.vim
!/colors/jellybeans.vim

/lua/*
!/lua/
!/lua/plugins.lua

/vim/*
!/vim/
!/vim/00-settings.vim
!/vim/10-keymaps.vim
!/vim/20-plugins.vim

/init.vim
